
body{
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

.active{
   border: #00959e 2px solid;
   border-radius: 5px;
   border-bottom: #00959e 4px solid;
}

.btn-light {
    border: red 2px solid;
    color: red;
}

.btn-light:hover {
    background-color: red !important;
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding: 15px; 
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    background-color: #fff;
  
}
.navbar-nav  li a:hover {
    color: #00959e !important;
}

.nav-item {
    padding-left: 13px;
}

#main-image {
   width: 85%;
   height: 90%;
   margin-left: 30px;
 
}

.main-image-content{ 
    margin-top: 2rem;
}

.navbar-brand {
    font-size: 23px;
    font-weight: 900;
}

.gradient-section {
    background: #00b7bd;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f2fcfe, #00b7bd);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f2fcfe, #00b7bd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 5px;
}

.woman-image-section {
    background-color: #f5f5f5;
    padding: 15px;
    margin: 20px 15px 0 15px; 
}

.table-section {
    margin-top: 1rem;
}


footer
{
    background: #8360c3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #f5f5f5;    
padding: 6px; 
}




/* newsletter */

.newsletter {
    padding: 80px 0;
    background: #f5f5f5;
    }
    
    .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .newsletter .content h2 {
    color: #00959e;
    margin-bottom: 40px; }
    .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
    .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #00959e;
    }
    .newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #00959e;
    color: #fff;
    font-weight:600;
    }

/* product page */
.product-heading {
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
}

#believe {
    background-color: #2ebf91;
}
@media only screen and (max-width: 712px) {
    #product-video {
        width: 100%;
        margin-top: 13px;
    }
  }

#add-to-cart {
    margin: 5px 1px;
}